.searchForm {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.searchButton {
  background-color: var(--Blue-950);
  border: none;
  cursor: pointer;
}

.search-icon {
  height: 2.4rem;
}

.searchInput {
  flex: 1 1 auto;
  border: none;
  background-color: var(--Blue-950);
  color: inherit;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}

.searchInput:focus {
  outline: none;
}
